@font-face {
    font-family: 'Bahnschrift';
    src: url(../font/transfonter.org-20221115-063053/Bahnschrift.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

